@media only screen {
	.nav{
		position: absolute;
		bottom: 60px;
		z-index: 10;
		background-color: $red;
		width: 100%;
	}
	.nav--sticky{
		position: fixed;
		top: 0;
		bottom: auto;
	}
	.nav-mobile,
	.nav-menu-item{
		text-align: center;
		cursor: pointer;
	}
	.nav-mobile-hamburger{
		@include font-size(32);
		padding: 10px 0;
	}
	.nav-mobile-hamburger,
	.nav-menu-item-link{
		color: white;
		text-decoration: none;
	}
	.nav-menu,
	.nav-menu-item-link{
		padding: 5px 0;
		display: block;
	}
	.nav-menu-item-link{
		@include font-size(20);
		font-weight: 700;
	}
	.nav-menu{
		overflow-y: hidden;
		display: none;
		padding: 5px 0;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.nav-menu{
		display: block;
	}
	.nav-mobile{
		display: none;
	}
	.nav-menu{
		text-align: center;
		padding: 15px 0;
	}
	.nav-menu-item-link{
		@include transition(color 0.25s ease);
	}
	.nav-menu-item{
		display: inline-block;
		padding: 0 15px;
		&:hover{
			.nav-menu-item-link{
				color: black;
			}
		}
	}
}
