@media only screen {
	.wpcf7{
		.wpcf7-form-control{
			font-family: $body;
			width: 100%;
			@include font-size(16);
			padding: 5px 8px;
			box-sizing: border-box;
			margin-bottom: 10px;
			border: 1px solid #A7A7A7;
			border-radius: 4px;
		}
		textarea{
			resize: vertical;
		}
		.wpcf7-submit{
			background-color: $darkgreen;
			color: white;
			border-width: 0px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		.wpcf7-select{
			background-color: white;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
