@media only screen {
	.contentmodule{
		padding: 40px 0;
	}
	.contentmodule-content{
		max-width: 1025px;
		margin: 0 auto;
		box-sizing: border-box;
		padding: 20px;
		@include font-size(20);
	}
}

@media only screen and (min-width: $medium){
	.contentmodule-content{
		@include font-size(24);
	}
}

@media only screen and (min-width: $large){
	.contentmodule{
		padding: 180px 0;
	}
	.contentmodule-content{
		@include font-size(20);	
	}
}