@media only screen {
	.hero{
		width: 100%;
		height: 100vh;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 5;
	}
	.hero-logo{
		max-width: 500px;
		width: 75%;
		height: auto;
		@include centerer;
	}
	.hero-arrow{
		width: 30px;
		position: absolute;
		bottom: 12px;
		left: 50%;
		@include transform(translateX(-50%));
		cursor: pointer;
	}
	.hero-arrow-path{
		fill: white;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
