@media only screen {
	.imagecontentmodule-imagecontainer{
		height: 420px;
		overflow: hidden;
		position: relative;
	}
	.imagecontentmodule-imagecontainer-caption{
		position: absolute;
		bottom: 0px;
		right: 0px;
		padding: 20px;
		color: white;
		font-family: $header;
		font-size: 2.8rem;
		font-style: italic;
	    text-shadow: 0px 2px 8px rgba(25,25,25,0.8);
	    z-index: 2;
	}
	.imagecontentmodule-imagecontainer-image{
		width: 100%;
	}
	.imagecontentmodule-contentcontainer{
		padding: 40px 20px;
	}
	.imagecontentmodule-contentcontainer-content{
		h1{
			padding-bottom: 10px;
			@include font-size(28);
		}
		p{
			@include font-size(20);
			padding: 10px 0;
		}
	}
	.imagecontentmodule-contentcontainer-buttons-button{
		@include font-size(28);
		padding: 20px 40px;
		margin: 20px auto;
		text-align: center;
		display: block;
		text-decoration: none;
		max-width: 320px;
		&.dark{
			background-color: $darkgreen;
			color: white;
		}
		&.light{
			background-color: $lightgreen;
			color: $darkgreen;
		}
	}
}

@media only screen and (min-width: $medium){
	.imagecontentmodule-imagecontainer{
		height: 640px;
	}
	.imagecontentmodule-contentcontainer-content{
		h1{
			@include font-size(32);
		}
		p{
			@include font-size(24);
		}
	}
}

@media only screen and (min-width: $large){
	.imagecontentmodule{
		font-size: 0;
	}
	.imagecontentmodule-imagecontainer,
	.imagecontentmodule-contentcontainer{
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	}
	.invert{
		@include transform(rotate(180deg));
		.imagecontentmodule-imagecontainer,
		.imagecontentmodule-contentcontainer{
			@include transform(rotate(180deg));
		}
	}
	.imagecontentmodule-imagecontainer{
		height: 100%;
		min-height: 640px;
		position: relative;
	}
	.imagecontentmodule-imagecontainer-caption{
		right: 40px;
	}
	.imagecontentmodule-imagecontainer-image{
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
	}
	.vertical{
		max-width: 1440px;
		margin: 0 auto;
		.imagecontentmodule-imagecontainer{
			overflow: visible;
			z-index: 1;
		}
		.imagecontentmodule-imagecontainer-image{
			@include transform(translate(-50%,-50%));
			padding: 0 40px;
			box-sizing: border-box;
			width: 100%;
			height: auto;
		}
	}
	.imagecontentmodule-contentcontainer{
		padding: 40px;
	}
	.imagecontentmodule-contentcontainer-content{
		h1{
			@include font-size(36);
		}
		p{
			@include font-size(20);
			padding: 10px 0;
		}
	}
}
