@media only screen {
	.imagemodule{
		width: 100%;
		position: relative;
		height: 420px;
		overflow: hidden;
		z-index: -1;
		&.green{
			.imagemodule-caption{
				background-color: $darkgreen;
				right: 0%;
			}
		}
		&.red{
			.imagemodule-caption{
				background-color: $red;
				left: 0%;
			}
		}
		&.nothome{
			.imagemodule-caption{
				background-color: transparent;
				font-size: 28px;
				bottom: 0px;
				top: inherit;
				text-transform: lowercase;
				font-weight: 400;
				font-style: italic;
				.imagemodule-caption-arrow{
					display: none;
				}
			}
		}
	}
	.imagemodule-image{
		min-height: 100%;
		min-width: 100%;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	.imagemodule-caption{
		position: absolute;
		font-family: $header;
		z-index: 2;
	    @include font-size(24);
	    text-align: center;
	    text-decoration: none;
	    color: white;
	    text-transform: uppercase;
	    padding: 20px;
	    letter-spacing: 1px;
	    font-weight: 800;
	    top: 70%;
	    text-shadow: 0px 2px 8px rgba(25,25,25,0.8);
	    &.nolink{
	    	pointer-events: none;
	    }
	}
	.imagemodule-caption-arrow{
		position: absolute;
		@include transform(rotate(-90deg));
		width: 20px;
		right: 16px;
		top: 22px;
	}
	.imagemodule-caption-arrow-path{
		fill: white;
	}
}

@media only screen and (min-width: $medium){
	.imagemodule-caption{
		@include font-size(38);
		top: 60%;
	}
	.imagemodule-caption-arrow{
		top: 32px;
	}
}

@media only screen and (min-width: $large){
	.imagemodule{
		height: 640px;
		&.green{
			.imagemodule-caption{
				padding-right: 105px;
				left: 0%;
				right: inherit;
			}
		}
		&.red{
			.imagemodule-caption{
				padding-left: 105px;
			}
		}
	}
	.imagemodule-caption{
		@include font-size(72);
		padding: 20px 80px 28px 80px;
		top: 55%;
	}
	.imagemodule-caption-arrow{
		width: 39px;
		top: 50px;
	}
}

@media only screen and (min-width: $xlarge){
	.imagemodule{
		height: 800px;
	}
}