@media only screen {
	.mapmodule{
		width: 100%;
		height: 400px;
		img{
			max-width: inherit !important;
		}
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
}
