@media only screen {
	.footer{
		color: white;
		text-align: center;
		font-family: $header;
	}
	.footer-info{
		background-color: $darkgreen;
		padding: 40px 20px;
	}
	.footer-info-wrapper{
		max-width: 1025px;
		margin: 0 auto;
		a{
			color: white;
		}
	}
	.footer-info-logocontainer-image{
		max-width: 50%;
		height: auto;
		padding-bottom: 20px;
	}
	.footer-info-text-left-address-header,
	.footer-info-text-left-reservations-header,
	.footer-info-text-right-hours-header{
		text-transform: uppercase;
		@include font-size(24);
		font-family: $header;
		font-weight: 400;
		letter-spacing: 1px;
		padding: 20px 0 5px 0;
	}
	.footer-info-text-left-address,
	.footer-info-text-left-reservations,
	.footer-info-text-right-hours{
		@include font-size(17);
		line-height: 28px;
		font-family: $body;
	}
	.footer-social{
		background-color: $red;
		padding: 20px 0;
	}
	.footer-social-header{
		text-transform: uppercase;
		font-family: $header;
		font-weight: 400;
	}
	.footer-social-icons{
		padding-top: 20px;
	}
	.footer-social-icons-link{
		background-color: black;
		border-radius: 100%;
		padding: 10px;
		width: 55px;
		height: 55px;
		position: relative;
		display: inline-block;
	}
	.footer-social-icons-link-icon{
		@include font-size(24);
		color: white;
		@include centerer();
	}
}

@media only screen and (min-width: $medium){
	.footer-info-logocontainer-image{
		max-width: 25%;
	}
}

@media only screen and (min-width: $large){
	.footer{
		z-index: 5;
		position: relative;
	}
	.footer-info{
		font-size: 0;
	}
	.footer-info-logocontainer,
	.footer-info-text,
	.footer-info-text-right,
	.footer-info-text-left,
	.footer-info-text-right-hours,
	.footer-info-text-left-address,
	.footer-info-text-left-reservations,
	.footer-social-header,
	.footer-social-icons{
		display: inline-block;
		vertical-align: middle;
	}
	.footer-social-icons{
		padding-top: 0px;
		padding-left: 20px;
	}
	.footer-social-icons-link{
		@include transition(background-color 0.4s ease);
		&:hover{
			background-color: white;
			.footer-social-icons-link-icon{
				color: $red;
			}
		}
	}
	.footer-social-icons-link-icon{
		@include transition(color 0.4s ease);
	}
	.footer-info-text-left,
	.footer-info-text-right{
		display: inline-block;
		width: 50%;
		font-size: 0;
	}
	.footer-info-text-left-address-header, 
	.footer-info-text-left-reservations-header, 
	.footer-info-text-right-hours-header{
		padding-top: 0px;
	}
	.footer-info-logocontainer,
	.footer-info-text{
		width: 50%;
	}
	.footer-info-text-right-hours,
	.footer-info-text-left-reservations,
	.footer-info-text-left-address{
		padding: 0 20px 20px 20px;
		text-align: left;
	}
	.footer-info-logocontainer-image{
		max-width: 75%;
		width: 100%;
		padding-bottom: 0px;
	}
}	
