// breakpoints

$medium: 641px;
$large: 1025px;
$xlarge: 1200px;

// fonts

$body: 'Brandon Grotesque', Helvetica, Verdana, sans-serif;
$header: 'Sansita', 'Trebuchet MS', Helvetica, sans-serif;

// colors

$red: #cc0000;
$darkgreen: #006633;
$lightgreen: #65a387;