//////////////////////////
// global & reset stuff //
//////////////////////////

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@import "vars", "mixins";

html,body{
	width: 100%;
	height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}
input,textarea{
	outline-color: $red;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: $header;
}
html{
	font-size: 62.5%; // base 10 for fonts
	font-family: $body;
}
body{
	@include font-size(16);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@import 'partials/nav', 'modules/hero', 'modules/image', 'modules/image_content', "modules/content", "modules/map", "partials/private-dining-form", 'footer';